#contact_book {
    position: relative;
    margin: auto;
    height: 600px;
    width: 380px;
    border: 3px groove green;
    border-radius: 10px;
    background: rgb(136, 226, 0);
}

#search {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-left: 5px;
    height: 35px;
    width: 368px;
    border: 1px solid green;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search_line {
    display: block;
    border: none;
    -webkit-appearance: none;
    outline: none;
    height: 33px;
    width: 328px;
    font-size: 22px;
    padding-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#cancel_search {
    display: block;
    border: none;
    width: 35px;
    height: 35px;
    font-size: 25px;
    background: white;
    color: grey;
}