#list_of_contacts {
    position: relative;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    height: 530px;
    width: 355px;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: auto;
    border: 3px groove green;
}

.category_name {
    font-size: 20px;
    color: grey;
    margin-bottom: -10px;
}

.contact {
    position: relative;
    height: 60px;
    width: 330px;
    margin-bottom: 5px;
    background: rgb(136, 226, 0);
    border: 3px groove green;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    user-select: none;
}

.avatar {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.short_info {
    display: block;
    margin-left: 25px;
    margin-top: 10px;
}

.name {
    font-size: 20px;
    color: black;
}

.nick {
    font-size: 18px;
    color: #297729;
}