#overlay {
    background: rgba(255, 255, 255, 0.0001);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 1;
}

#modal_window {
    position: absolute;
    visibility: hidden;
    height: 565px;
    width: 350px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    border-radius: 10px;
    border: 3px groove green;
    background: white;
    overflow: auto;
    padding: 10px;
    user-select: none;
}

#modal_window_top {
    display: flex;
    flex-direction: row;
    height: 85px;
    width: 350px;
}

#current_contact {
    display: flex;
    width: 280px;
}

#full_avatar {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 100px;
    height: 75px;
    width: 75px;
}

#fullname {
    display: block;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 25px;
    width: 200px;
}

#window_buttons {
    display: flex;
    flex-direction: column;
    margin-right: -10px;
    margin-top: -10px;
    width: 70px;
    align-items: flex-end;
}

#changes {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    border-top: solid 1px;
    margin-top: 5px;
}

#change_favorite {
    border-top: solid 1px;
    margin-top: 5px;
}

#close {
    margin-bottom: 2px;
}

#edit {
    border-top: solid 1px;
}

.button {
    display: block;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 22px;
    background: rgba(255, 255, 255, 0);
    color: grey;
    user-select: none;
}

.full_address {
    display: none;
}

.full_company {
    display: none;
}

.full_history {
    display: none;
}

.full_posts {
    display: none;
}

.headline {
    font-weight: bold;
}

.contact_details {
    display: flex;
}

.headline_details {
    display: block;
    font-weight: bold;
    width: 80px;
}

.detail {
    display: block;
    width: 260px;
}

.headline_address {
    display: block;
    font-weight: bold;
    width: 70px;
}

.address {
    display: block;
    width: 270px;
}

.headline_company {
    display: block;
    font-weight: bold;
    width: 120px;
}

.company {
    display: block;
    width: 220px;
}

.line {
    height: 5px;
    border-bottom: 1px dashed grey;
}